version: '3.8'

services:
    hv-ap:
        build:
            context: .
            dockerfile: Dockerfile
        image: laravel-app:latest
        # volumes:
            # - D:\\movie\\Captures:/var/www/html/storage/app/public/videos:rw
          # - /mnt/c/dev/videos:/var/www/html/storage/app/public/videos:rw
        restart: always
        networks:
            - home_network
    hv-web:
        build:
            context: .
            dockerfile: Dockerfile.nginx
        # ports:
            # - "80:80"
        # volumes:
            # - ./nginx.conf:/etc/nginx/conf.d/default.conf # Nginx設定ファイルをコピー
            # - /mnt/c/dev/videos:/var/www/html/storage/app/public/videos:rw
            # - D:\\movie\\Captures:/var/www/html/storage/app/public/videos:rw
        depends_on:
            - hv-ap # PHPコンテナが起動してからNginxを起動
        restart: always
        networks:
            - home_network
networks:
  home_network:
    external: true
