version: '3.8'
name: hv

services:
    hv-ap:
        build:
            context: .
            dockerfile: Dockerfile
        image: laravel-app:latest
        environment:
            DB_CONNECTION: mysql
            DB_HOST: home-db-mysql
            DB_PORT: 3306
            DB_DATABASE: hv
            DB_USERNAME: hv
            DB_PASSWORD_FILE: /run/secrets/mysql_user_password
            APP_KEY_FILE: /run/secrets/secret_key_base
            VIDEO_BASE_URL: http://192.168.10.11/
            APP_URL: http://192.168.10.10/hv
            ASSET_URL: http://192.168.10.10/hv
        secrets:
            - secret_key_base
            - mysql_user_password
        # volumes:
            # - D:\\movie\\Captures:/var/www/html/storage/app/public/videos:rw
          # - /mnt/c/dev/videos:/var/www/html/storage/app/public/videos:rw
        restart: always
        networks:
            - home_network
    hv-web:
        build:
            context: .
            dockerfile: Dockerfile.nginx
        # ports:
            # - "80:80"
        # volumes:
            # - ./nginx.conf:/etc/nginx/conf.d/default.conf # Nginx設定ファイルをコピー
            # - /mnt/c/dev/videos:/var/www/html/storage/app/public/videos:rw
            # - D:\\movie\\Captures:/var/www/html/storage/app/public/videos:rw
        depends_on:
            - hv-ap # PHPコンテナが起動してからNginxを起動
        restart: always
        networks:
            - home_network
secrets:
  secret_key_base:
    file: ${LARAVEL_SECRET_PATH}
  mysql_user_password:
    file: ${MYSQL_USER_PASSWORD_PATH}
networks:
  home_network:
    external: true
